<%= partial "layouts/banner" %>

<h1 class="text-center">
  Recent flats
</h1>

<div class="row row-margin">

  <div class="col-xs-12 col-sm-4">
    <%= partial "layouts/card" %>
  </div>

  <div class="col-xs-12 col-sm-4">
    <%= partial "layouts/card" %>
  </div>

  <div class="col-xs-12 col-sm-4">
    <%= partial "layouts/card" %>
  </div>

</div>
